.App {
  height: 100vh;
  background-image: url('./assets/safari-zone-background-two.png');
  background-size: cover;
}

.wild-pokemon {
  position: fixed;
  /* top: 270px; */
  top: 39vh;
  /* right: 300px; */
  right: 23vw;
  animation-name: slide;
  animation-duration: 2s;
}

.wild-pokemon-image {
  width: 200px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes slide {
  0% {
    transform: translate(-00px)
  } 
  70% {
    transform: translate(0px)
  }
  80% {
    transform: rotate(-10deg)
  }
  90% {
    transform: rotate(10deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes bounce {
  from {
    transform: translateY(5px);
  } 
  to {
    transform: translateY(0px);
  }
}