.App {
  height: 100vh;
  background-image: url('./assets/safari-zone-background-two.png');
  background-size: cover;
}

.trainer-menu {
  height: 65px;
  width: 165px;
  background-color: black;
  opacity: .9;
  border-radius: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-icon {
  width: 50px;
}

.menu-icon:hover {
  animation-name: bounce;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wild-pokemon {
  position: fixed;
  top: 39vh;
  right: 23vw;
  animation-name: slide;
  animation-duration: 2s;
}

.wild-pokemon-image {
  width: 200px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes slide {
  0% {
    transform: translate(-1000px)
  } 
  70% {
    transform: translate(0px)
  }
  80% {
    transform: rotate(-10deg)
  }
  90% {
    transform: rotate(10deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  } 
  to {
    transform: translateY(5px);
  }
}